h1{
    font-family:serif;
    font-size:80px;
    text-align: center;
    color:#192a56;
    font-style: italic; 
}
.footer{
    display: flex;
    justify-content:end;
    margin: 0px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    
}
button{
    margin-left: 20px;
    width: 100px;
    height: 30px;
    background-color:#192a56;
    border-radius: 10px;
    font-weight: bold;
    color:white;
    border: 1px solid #192a56;
}
button:hover{
    background-color:#27ae60;
}
<<<<<<< HEAD
.box{
    width: 400px;
    height: 300px;
    margin: 20px auto;
    padding: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;

}
=======
>>>>>>> 15a330c8fd36e1b61a3f4db74815afcbb3222874
