img{
    height: 250px;
    width: 300px;
    border-radius: 15px;
    object-fit: cover;
}
.list_container{
    text-align: center;
    height: 450px;
    width: 380px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-style: italic;
    font-family: serif;
    border-radius: 8px;
}
.item_image{
    margin-top: 20px;
}
.item_price{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.item_price > p{
    font-size: 25px;
    font-weight: 600;
    color: #27ae60;
}
.item_price > button{
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    background-color: #192a56;
    font-style: italic;
    font-family: serif;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding-top: 50px;
}
.item_content > h2{
    font-size: 30px;
    margin: 10px;
    color: #192a56;
    font-weight: 700;
}
.item_content > p{
    margin-top: 20px;
    margin-bottom: 10px;
}
.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-family: serif;
}
.main_container > h1{
    font-size: 70px;
    font-style: italic;
    color: #192a56;
}
.checked{
    color: #27ae60;
}
.item_price > button:hover{
    background-color: #27ae60;
}
.footer{
    margin-top: 50px;
    text-align: end;
    margin-right: 50px;
    margin-bottom: 20px;
    font-family: serif;
    font-style: italic;
}
.footer > a{
    color: black;
    font-weight: bold;
    font-size: 30px;
    transition: background-color 0.3s;
    text-decoration: underline;
    margin-left: 50px;
}
.footer > a:hover{
    background-color: #27ae60;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}