.body {
    font-family: serif;
    background-color: #fff;
    font-style: italic;
}
h1,h2{
    text-align: center;
}
.form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    font-style: italic;
    font-weight: bold;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 100px  rgba(0, 0, 0, 0.1);
}
label {
    display: inline-block;
    margin-bottom: 8px;
    width: 320px; 
}
input{
    width: calc(100% - 10px); 
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: #eee;
    border: 1px solid black;
}
textarea{
    width: calc(100% - 10px); 
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: #eee;
    border: 1px solid black;
}
button {
    background-color:#192a56;;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
}
/* .button {
    text-align: center;
    padding-bottom: 3px;
}
.button :hover{
    background-color:#27ae60
} */
.footer{
    display: flex;
    justify-content:end;
    margin: 50px;
}
button{
    margin-left: 20px;
    width: 100px;
    height: 30px;
    background-color:#192a56;
    border-radius: 10px;
    font-weight: bold;
    color:white;
    border: 1px solid #192a56;
    text-align: center;
    padding-bottom: 3px;
}
button:hover{
    background-color:#27ae60;
}