.body{
    background-color: #f8f8f8;
    color: #333;
    font-style: italic;
    font-family: serif;
}
.head{
    text-align: center;
    font-weight: 900;
    font-size: 90px;
    color: black;
    padding: 50px;
}
.outer_div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;
} 
.item_div{
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 350px;
    height: 450px;
    text-align: center;
}
.p{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 50px;    
}
.item_image{
    border-radius: 10px;
    height: 250px;
    width: 330px;
    margin-top: 10px;
    object-fit:cover;
}
.inner_div{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.checked{
    color: #27ae60;
    margin-top: 0px;
}
h2{
    font-size: 35px;
}
h1{
    color: #27ae60;
    margin: 8px;
}
a{
    color: #fff;
    text-decoration: none;
}
button{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    font-size:25px ;
    font-weight: bolder;
    font-style: italic;
    font-family: serif;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
    background-color: #192a56;
    margin-left: 50px;
}
.button:hover{
    background-color: #27ae60   ;
}
.footer{
    margin-top: 50px;
    text-align: end;
    margin-right: 50px;
    margin-bottom: 20px;
}
.footer > a{
    color: black;
    font-weight: bold;
    font-size: 30px;
    transition: background-color 0.3s;
    text-decoration: underline;
    margin-left: 50px;
}
.footer > a:hover{
    background-color: #27ae60;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.specific{
    margin: 5px;
}
