.total{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.price{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:center;
    margin-left: 40px;
}
p{
    font-style: italic;
    font-weight: bold;
    color:#4caf50;
    font-size: 25px;
    margin-right: 60px;

}
.border{
    padding-bottom: 20px;
    margin: 10px;
    border: 1px solid #fff;
    background-color:#fff;
    width: 380px;
    height: 400px;
}
.image{
    text-align: center;
    padding-top: 15px;
}
img{
    border-radius: 5px;
    object-fit:cover;
}
button{
    width: 100px;
    height: 30px;
    background-color:#192a56;
    border:1px solid #192a56;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
}
button:hover{
    background-color: #4caf50;
}
.footer{
    display: flex;
    justify-content: end;
    margin: 50px;
}
.footer >a> button{
    margin-left: 15px;
    margin-right:15px;
    background-color:#192a56;
    color:#fff;   
}
.footer >a> button:hover{
    background-color: #4caf50;
}
body{
    background-color:#eee;
}
h1{
    text-align: center;
    font-style: italic;
    color:#192a56;
}
h2{
    text-align: center;
    font-size: 60px;
    font-style: italic;
    font-family: serif;
    font-weight: bold;
}
.checked{
    color : orange
}
.span{
    margin-left: 17px;
}